/*NAVBAR*/
.a{
  position: relative;
  z-index: 1;
}
.b{
  z-index: 2;
  position: relative; 
  
}
 

:root{
    --color-dark4 :#1c1c1c;
    --color-text  :#000000;
    --color-header:#ffffff;
    --color-select:#eee6e6;
    --color-select:#eee6e6;
    --color-input: #f39200;
    --degrade: linear-gradient(to right, #0026ff, #2bff00, #e5ff00 );
  }
  
  @media screen and (max-width: 768px) {
  
    .icone{
    position: absolute;
    left: 35%;
   
    }
    
  .menu{
     transform: translateX(-180%);
  }
  }
  
  
  /*MENU*/
  body{
  padding-top: 80px;
  }
  
  .header{
  display: flex !important;
  align-items: center !important;
  position: fixed !important;
  z-index: 20;
  background-color: var(--color-header);
  width: 100%;/*   box-shadow: 1px 1px 4px var(--color-dark4);   */
  height: 8vh;
  margin-bottom: 10%;
  left: 0;
  top: 0;
  }
  
  .navigation_header{
  display: inline-flex;
  margin-right: 4%;
  gap: 1em;
  position: absolute;
  right: 0;
  }
  
  .navigation_header a{
  text-decoration: none;
  color: var(--color-4);
  font-weight: bold;
  }
  
  .menu_bar img{
  width: 55px;
  cursor: pointer;
  margin-left: 50px;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s;
  }
  
  .menu_bar img:hover{
  background-color: var(--color-select);
  }
  
  .icone{
  position: absolute;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  }
  
  .menu a{
  text-decoration: none;
  color: var(--text)
  }
  
  .menu{
  background-color: var(--color-header);
  position: fixed;
  height: 100%;
  top: 9vh;
  bottom: 9vh;
  width: 14.5%;
  box-shadow: 0px 0px 0px var(--color-dark4);
  transform: translate(-100%);
  z-index: 10;
  }
  
  .menu.active{
  transform: translate(0%);
  transition: transform 0.3s ease-in;
  }
  
  .menu li a{
  margin-left: 25px;
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 20 20px;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: transparent;
  transition: 0.3s;
  }
  
  .menu li a:hover{
    background-color: var(--color-select);
    border-radius: 20px;  
    color: #000000;
    text-decoration: none;
    
  }
  
  .active2{
  background-color: var(--color-select);
  border-radius: 20px;
  }
  
  .icone img{
  height: 50px;
  
  }
  
  * li
  {
  list-style: none !important;
  text-decoration: none !important;
  transition: 0.5;
  }/*Tira os pontinhos no li*/
  
  .matricula{
  background-color: #0083C3;
  border: solid 8px !important;
  color: #0083C3;
  border-radius: 10px !important;
  }
  
  .matricula a{
  color: #ffffff;
  }
  
  .login {
  border: solid #0083C3;;
  border-radius: 10px;
  padding: 6px 9px;
  }
  
  .login a:hover{
  color: #000000;
  text-decoration: none;
  }
  .matricula a:hover{
  color: #ffffff;
  text-decoration: none;
  }
  
  *{
  box-sizing: content-box !important; /*JAMAIS RETIRAR!!!!*/
  }


  /*CONTEÚDO*/
 
span{
  color: red;
}

.bloco01{
  font-family: Teko, sans-serif;
  font-weight: bold;
  font-size: 46px;
  
 }

.content{
  margin-left: 21%;
}
.entrada{
  
    
    width: 30rem;
    width: 800px;
    height: 1330px;
    display: grid;
    place-content: center;
    margin-top: 3em;
}
select{
  width: 250px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(218, 215, 215);
  border:  #96d6f7;
  box-shadow: 0px 7px 0px 0px var(--color-input);
  outline: none;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  margin-right: 30px;
}
.conteudo{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: solid 20px #f39200;
  width: 25rem;
  width: 770px;
  height: 1400px;
  display: grid;
  margin-top: rem;

}
  .entrada input{
    width: 480px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(218, 215, 215);
    border:  #0083C3;
    padding: 0px 10px;
    box-shadow: 0px 7px 0px 0px var(--color-input);
    outline: none;
    font-size: 20px;
    margin-left: 17%;
    margin-bottom: 10px;
  }
  .entrada a{
    color: #000000;
    text-align: center;
    font-family: Barlow, sans-serif;
  }
  .entrada button{
    background-color: var(--color-input);
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40  px;
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
    font-size: 20px;
    margin-left: 31%;
    
  }
.t{
  display: flex;
  
}
.bloco{
  display: flex;

}
.pa{
  border: solid #f39200 4px;
  width: 10%;
  margin-left: 20%;
}
pre{
  font-family: Teko, sans-serif;
  font-size: xxx-large;
  font-weight: bold;
  margin-left: 20%;
}
.t_dois{
  margin-inline-start: 15%;
}
.bloco img{
  margin-left: 35%;
}
h2{
  padding: 2% 10%;
  font-size:xx-large;
  margin-top: 2%;
  
}
.t img{
  margin-left: 30%;
  justify-content: right;
}
.t{
  display:flex;
}
.linha{
  width: 13%;
  border: 5px solid #f39200;   
  margin-left: 15%;
  border-radius: 30%;
}
p {
  font-family: Teko, sans-serif;
  font-size: 25px;
  margin-left: 16.5%;
} 
.um input{
  width: 230px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(218, 215, 215);
  border:  #96d6f7;
  box-shadow: 0px 7px 0px 0px var(--color-input);
  outline: none;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 63px;
  margin-right: 50px;
   
} 
.um p{
  margin-left: 85px;
}
.comenta{
  background-color:  #f39200;
  border-radius: 20px;
  
  width: 420px;
  height: 200px;
  display: grid;
  place-content: center;
  
  margin-left: 23%;
}
.um textarea{
  width: 10px;
  border-radius: 10px;
  font-family: Teko, sans serif;
  font-size: 30px;
}
   /*FOOTER*/
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
   }
   footer{
       background-color: #0083C3;
       padding: 50px 0;
     
   }
   .container-footer{
       max-width: 1400px;
       padding: 0px;
       margin: auto;
   }
   .row-footer{
       display: flex;
       flex-wrap: wrap;
     margin-left: auto;
   }
   
   .footer-col{
       width: 25%;
       padding: 15px;
       
       
   }
   .footer-col h4{
       font-size: 30px;
       color: white;
       margin-bottom: 20px;
       font-weight: 500;
       position: relative;
       text-transform: uppercase;
       font-family: Teko, sans-serif;
   }
   .footer-col ul{
       list-style:none;
   }
   .footer-col ul li{
       margin: 10px 0;
   }
   .footer-col ul li a{
       font-size: 16px;
       
       color: white;
       text-decoration: none;
       font-weight: 300;
       display: block;
       transition: all 0.3s ease;
   }
   .footer-col ul li a:hover{
       color: #cecdcd;
       padding-left: 10px;
   }
   .footer-col .medias-socias{
       margin-top: 30px;
   }
   .footer-col .medias-socias a{
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 40px;
       width: 40px;
       margin: 0 10px 10px 0;
       text-decoration: none;
       border-radius: 50%;
       color: white;
       border: 1px solid white;
       transition: all 0.5s ease;
   }
   .footer-col .medias-socias a li{
       font-size: 20px;
      
   }
   
   .footer-col .medias-socias a:hover{
       color: #0083C3;
       background-color: white;
   }
   .footer-col .form-sub input{
       width: 100%;
       padding: 10px;
       font-size: 15px;
       outline: none;
       border: 1px solid white;
       color: white;
       background-color:#0083C3;
   }
   .footer-col .form-sub input::placeholder{
       color: white;
   }
   .footer-col .form-sub button{
       width: 100%;
       margin-top: 10px;
       padding: 10px; 
       font-size: 17px;
       outline: none;
       border: none;
       cursor: pointer;
       color: #0083C3;
       border-radius: 3px;
       font-weight: bold;
       background-color: white;        
   }
   .direitos p{
     justify-content: center;
     text-align: center;
     color:#ffffff;
     font-family: Roboto Condensed, sans-serif;
     
   }
   .direitos strong{
     font-family: Roboto Condensed, sans-serif;
   }
   /* Responsivo */
   @media (max-width: 800px) {
       .footer-col{
           width: 50%;
           margin-bottom: 30px;
       }
   }
   @media (max-width:600px) {
       .footer-col{
           width: 100%;
       }
   }


@media screen and (max-width: 768px) {
.icone {
  position: absolute;
  left: 35%;
}

.menu {
  transform: translateX(-180%);
}


/*MENU*/
body {
padding-top: 80px;
}

.header {
display: flex !important;
align-items: center !important;
position: fixed !important;
z-index: 20;
background-color: var(--color-header);
width: 100%;
height: 8vh;
margin-bottom: 10%;
left: 0;
top: 0;
}

.navigation_header {
display: inline-flex;
margin-right: 4%;
gap: 1em;
position: absolute;
right: 0;
}

.navigation_header a {
text-decoration: none;
color: var(--color-4);
font-weight: bold;
}

.menu_bar img {
width: 55px;
cursor: pointer;
margin-left: 50px;
background-color: transparent;
border-radius: 10px;
transition: 0.3s;
}

.menu_bar img:hover {
background-color: var(--color-select);
}

.icone {
position: absolute;
justify-content: center;
left: 50%;
transform: translateX(-50%);
}

.menu a {
text-decoration: none;
color: var(--text);
}

.menu {
background-color: var(--color-header);
position: fixed;
height: 100%;
top: 9vh;
bottom: 9vh;
width: 90%;
box-shadow: 0px 0px 0px var(--color-dark4);
transform: translate(-100%);
z-index: 10;
}

.menu.active {
transform: translate(0%);
transition: transform 0.3s ease-in;
}

.menu li a {
margin-left: 25px;
display: inline-block;
list-style: none;
font-size: 20px;
padding: 20 20px;
padding: 15px 20px;
border-radius: 20px;
margin-top: 30px;
background-color: transparent;
transition: 0.3s;
}

.menu li a:hover {
background-color: var(--color-select);
border-radius: 20px;
color: #000000;
text-decoration: none;
}

.active2 {
background-color: var(--color-select);
border-radius: 20px;
}

.icone img {
height: 50px;
}

.matricula {
background-color: #0083C3;
border: solid 8px !important;
color: #0083C3;
border-radius: 10px !important;
}

.matricula a {
color: #ffffff;
}

.login {
border: solid #0083C3;
border-radius: 10px;
padding: 6px 9px;
}

.login a:hover {
color: #000000;
text-decoration: none;
}

.matricula a:hover {
color: #ffffff;
text-decoration: none;
}

* {
box-sizing: content-box !important;
}

/*CONTEÚDO*/
span {
color: red;
}

.bloco {
font-family: Teko, sans-serif;
font-weight: bold;
font-size: 46px;
margin-left: 5%;
}
.bloco img{
  margin-left:75% ;
}
.pa{
  width: 30%;
  margin-left: 23%;
}
.entrada {

width: 600px;
height: 1330px;
display: grid;
place-content: center;
margin-left: 10%;

}
select{
  width: 175px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(218, 215, 215);
  border:  #96d6f7;
  box-shadow: 0px 7px 0px 0px var(--color-input);
  outline: none;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  margin-right: 10px;
}
.conteudo {
background-color: rgb(255, 255, 255);
border-radius: 20px;
width: 550px;
height: 1450px;
display: grid;


}

.entrada input {
width: 76%;
height: 45px;
border-radius: 30px;
background-color: rgb(218, 215, 215);
border: #0083C3;
padding: 0px 10px;
box-shadow: 0px 7px 0px 0px var(--color-input);
outline: none;
font-size: 20px;
margin-left: 8%;
margin-bottom: 10px;
}

.entrada a {
color: #000000;
text-align: center;
font-family: Barlow, sans-serif;
}



h2 {
padding: 2% 10%;
font-size: xx-large;
margin-top: 2%;
}

.entrada button{
  margin-left: 23%;
}

.t {
display: flex;

width: 90px;
}

.linha {
width: 13%;
border: 5px solid #f39200;
margin-left: 15%;
border-radius: 30%;
}

p {
font-family: Teko, sans-serif;
font-size: 25px;
margin-left: 10%;
}

.um input {
width: 150px;
height: 45px;
border-radius: 30px;
background-color: rgb(218, 215, 215);
border: #96d6f7;
box-shadow: 0px 7px 0px 0px var(--color-input);
outline: none;
font-size: 20px;
display: inline-block;
vertical-align: top;
margin-left: 30%;

}

.um p {
margin-left: 25%;
}

.comenta {
background-color: #f39200;
border-radius: 20px;
width: 75%;
height: 200px;
display: grid;
place-content: center;
margin-top: 3em;
margin-left: 12%;
}

footer{
  width: 770px;
}
}
textarea {
width: 395px;
height: 175px;
border-radius: 10px;
font-family: Teko, sans-serif;
font-size: 20px;

}

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

footer {
background-color: #0083C3;
padding: 50px 0;
}

.container-footer {
max-width: 1400px;
padding: 0px;
margin: auto;
}

.row-footer {
display: flex;
flex-wrap: wrap;
margin-left: auto;
}

.footer-col {
width: 90%;
padding: 15px;
}

.footer-col h4 {
font-size: 24px;
color: white;
margin-bottom: 20px;
font-weight: 500;
position: relative;
text-transform: uppercase;
font-family: Teko, sans-serif;
}

.footer-col ul {
list-style: none;
}

.footer-col ul li {
margin: 10px 0;
}

.footer-col ul li a {
font-size: 16px;
color: white;
text-decoration: none;
font-weight: 300;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover {
color: #cecdcd;
padding-left: 10px;
}

.footer-col .medias-socias {
margin-top: 30px;
}

.footer-col .medias-socias a {
display: inline-flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
margin: 0 10px 10px 0;
text-decoration: none;
border-radius: 50%;
color: white;
border: 1px solid white;
transition: all 0.5s ease;
}

.footer-col .medias-socias a li {
font-size: 20px;
}

.footer-col .medias-socias a:hover {
color: #0083C3;
background-color: white;
}

.footer-col .form-sub input {
width: 90%;
padding: 10px;
font-size: 15px;
outline: none;
border: 1px solid white;
color: white;
background-color: #0083C3;
}

.footer-col .form-sub input::placeholder {
color: white;
}

.footer-col .form-sub button {
width: 90%;
margin-top: 10px;
padding: 10px;
font-size: 17px;
outline: none;
border: none;
cursor: pointer;
color: #0083C3;
border-radius: 3px;
font-weight: bold;
background-color: white;
}

.direitos p {
justify-content: center;
text-align: center;
color: #ffffff;
font-family: Roboto Condensed, sans-serif;
}

.direitos strong {
font-family: Roboto Condensed, sans-serif;
}

